{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> log in </title>
    <link rel="stylesheet" href="{% static 'journal/style.css' %}">
</head>
<body class="{% if user.is_authenticated %}{{ user.profile.theme }}{% else %}light{% endif %}">

<div class="page-center">
<div class="container">
    <h2> log in </h2>

    {% if form.errors %}
    <p style="color:red;"> invalid username or password </p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> log in </button>
    </form>
    <p> don't have an account? <a href="{% url 'register' %}"> register here </a></p>
</div>
</div>
</body>
</html>